<html>
      <style type="text/css">
          .button{font: bold 28px Arial;
                  text-decoration: none;
                  background-color: #EEEEEE;
                  color: #333333;
                  padding: 2px 6px 2px 6px;
                  border-top: 1px solid #CCCCCC;
                  border-right: 1px solid #333333;
                  border-bottom: 1px solid #333333;
                  border-left: 1px solid #CCCCCC;
                  display:block;
                  text-align:center;
          }
      </style>
    <a href="#!/nuevaVac" class="button">Registrar Nueva Vacuna</a>
    <a href="#" class="button">Actualizar documento paciente</a>
    <a href="#!/nuevopa" class="button">Registrar Nuevo Paciente</a>
    

    
</html>